.animals {
    padding-top: 90px;
    padding-bottom: 54px;

    .animals-title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 70px;
    }

    .cardsAnimals {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}





