.pet-profile {
    &__header {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 37px;
        color: #2e2c34;
        margin-bottom: 0;
    }
}
