.about-bg {
    background-image: url(../../../Assets/Images/Homepage/cat-bg.webp);
    background-position: top right;
    background-repeat: no-repeat;
    height: 844px;
    display: flex;
    align-items: center;
    background-size: contain;
    position: relative;

    .about-block {
        max-width: 50vw;
        padding-left: 56px;

        .about-block__title {
            font-size: 3rem;
            line-height: 4.5rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        @media (max-width: 650px) {
            .about-block__title {
                font-size: 2.5rem;
                line-height: 3.5rem;
            }
        }

        @media (max-width: 550px) {
            .about-block__title {
                font-size: 2rem;
                line-height: 3rem;
            }
        }

        .about-block__down {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            padding: 0 5%;
            top: 120%;
            left: 0;
            

            &::before {
                content: "";
                width: 100%;
                background-color: black;
                height: 1px;
                margin-bottom: 20px;
            }
            &::after {
                content: "";
                width: 100%;
                background-color: black;
                height: 1px;
                margin-top: 20px;
            }
        }


        .about-block__text {
            margin-bottom: 57px;
            margin-top: 40px;
            font-size: 1.25rem;
            line-height: 1.875rem;
            font-weight: 400;
        }

        @media (max-width: 1300px) {
            .about-block__text {
                margin-bottom: 30px;
                margin-top: 25px;
            }
        }

        @media (max-width: 800px) {
            .about-block__text {
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }

        @media (max-width: 650px) {
            .about-block__text {
                font-size: 1.1rem;
                line-height: 1.6rem;
            }
        }

        @media (max-width: 550px) {
            .about-block__text {
                margin-bottom: 15px;
                margin-top: 0px;
                text-align: center;
            }
        }

        .btn-blue {
            font-size: 1.5rem;
            font-weight: 400;
            border-radius: 15px;
            display: inline-block;
            padding: 16px 23px;
        }

        @media (max-width: 1300px) {
            .btn-blue {
                padding: 8px 12px;
            }
        }

        @media (max-width: 950px) {
            .btn-blue {
                padding: 4px 7px;
            }
        }

        @media (max-width: 800px) {
            .btn-blue {
                padding: 2px 5px;
                border-radius: 10px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.3rem;
            }
        }

        @media (max-width: 650px) {
            .btn-blue {
                font-size: 1.1rem;
            }
        }

    }

    @media (max-width: 800px) {
        .about-block {
            padding-left: 30px;
        }
    }
}

@media (max-width: 1500px) {
    .about-bg {
        height: 644px;
    }
}

@media (max-width: 1200px) {
    .about-bg {
        height: 544px;
    }
}

@media (max-width: 950px) {
    .about-bg {
        height: 444px;
    }
}

@media (max-width: 750px) {
    .about-bg {
        height: fit-content;
        padding: 70px 0px;
    }
}

@media (max-width: 500px) {
    .about-bg {
        padding: 30px 0px;
    }
}