.about-bg {
    background-image: url(../../../Assets/Images/Homepage/cat-bg.webp);
    background-position: top right;
    background-repeat: no-repeat;
    height: 844px;
    display: flex;
    align-items: center;
    background-size: contain;


    .about-block {
        max-width: 52vw;
        padding-left: 56px;

        .about-block__title {
            font-size: 3rem;
            line-height: 4.5rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        .about-block__text {
            margin-bottom: 57px;
            margin-top: 40px;
            font-size: 1.25rem;
            line-height: 1.875rem;
            font-weight: 400;
        }

        @media (max-width: 1300px) {
            .about-block__text {
                margin-bottom: 30px;
                margin-top: 25px;
            }
        }

        @media (max-width: 950px) {
            .about-block__text {
                margin-bottom: 20px;
                margin-top: 15px;
            }
        }

        @media (max-width: 800px) {
            .about-block__text {
                margin-bottom: 15px;
                margin-top: 10px;
            }
        }
    }

    @media (max-width: 800px) {
        .about-block {
            padding-left: 30px;
        }
    }

    .btn-blue {
        font-size: 1.5rem;
        font-weight: 400;
        border-radius: 15px;
        display: inline-block;
        padding: 16px 23px;
    }

    @media (max-width: 1300px) {
        .btn-blue {
            padding: 8px 12px;
        }
    }

    @media (max-width: 950px) {
        .btn-blue {
            padding: 4px 7px;
        }
    }

    @media (max-width: 800px) {
        .btn-blue {
            padding: 2px 5px;
            border-radius: 10px;
        }
    }
}

@media (max-width: 1500px) {
    .about-bg {
        height: 644px;
    }
}

@media (max-width: 1200px) {
    .about-bg {
        height: 544px;
    }
}

@media (max-width: 950px) {
    .about-bg {
        height: 444px;
    }
}

@media (max-width: 750px) {
    .about-bg {
        height: 400px;
    }
}

@media (max-width: 700px) {
    .about-bg {
        height: 350px;
    }
}