.about-bg {
    background-image: url(../../../Assets//Images/Homepage/cat-bg.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 92vh;
    display: flex;
    align-items: center;

    .about-block {
        font-size: 24px;
        font-weight: 300;
        color: #2E2C34;
        max-width: 50vw;
        padding-left: 56px;
        line-height: 38.4px;
    
        p {
            margin-bottom: 24px;
        }
    }
}

