.profile {
    &-holder {
        .profile-form,
        .editProfile-form {
            height: 300px;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            position: relative;

            label {
                margin-bottom: 56px;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.5);

                input:not([type="image"]) {
                    width: 350px;
                    margin-top: 20px;
                    font-size: 20px;
                    line-height: 24px;
                    padding-left: 10px;
                    border: none;
                    background-color: transparent;
                    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
                        transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
                        padding 200ms cubic-bezier(0, 0, 0.2, 1);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    cursor: default;

                    &:focus {
                        outline: none;
                    }
                }
            }

            input[type="image"],
            .emptyInputImage {
                height: 315px;
                width: 305px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 24px;
                line-height: 29px;
                color: #000000;
            }

            &__btn {
                position: absolute;
                left: 0;
                bottom: -10%;

                img {
                    margin-left: 10px;
                }
            }
        }

        .editProfile-form {
            height: 450px;

            label {
                font-size: 20px;
                line-height: 24px;
                color: #000000;

                input:not([type="image"]) {
                    cursor: auto;
                }

                input:last-child {
                    margin-left: 200px;
                }
            }

            button {
                background: #6dfa9d;
                box-shadow: 0px 0px 25px rgba(109, 250, 157, 0.5);
                color: #005403;
            }
        }
    }
}
