.profile-holder {
    .profile-form {
        &__inputs {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            gap: 56px 300px;
            max-width: 80%;
            height: 300px;

            label {
                font-weight: 300;
                font-size: 1.1rem;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.5);
            }

            input {
                font-size: 1.2rem;
                line-height: 24px;
                color: #2E2C34;
                cursor: default;
            }

            div {
                max-width: 400px;
            }
        }

        @media (max-width: 1900px) {
            &__inputs {
                gap: 56px 150px;
            }
        }

        @media (max-width: 1550px) {
            &__inputs {
                gap: 56px 100px;
            }
        }

        @media (max-width: 1450px) {
            &__inputs {
                height: 400px;

                input {
                    padding: 0;
                }

            }
        }

        @media (max-width: 900px) {
            &__inputs {
                flex-wrap: nowrap;
                height: 800px;
                margin: 0 auto;
                align-items: center;
                gap: 30px 0px;
            }
        }

        &__btn {
            img {
                margin-left: 10px;
            }
        }

        @media (max-width: 900px) {
            &__btn {
                text-align: center;
            }
        }
    }

    .editProfile-form {
        height: 500px;

        &__section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 45px;


            div {
                width: 400px;
                font-weight: 200;
                font-size: 1.1rem;
                color: #000000;

                input {
                    font-size: 1.2rem;
                    line-height: 24px;
                    color: #2E2C34;
                    cursor: default;
                }

                label {
                    font-weight: 300;
                    font-size: 1.1rem;
                    line-height: 20px;
                    color: rgba(0, 0, 0, 0.5);
                }

                select {
                    background-color: transparent;
                    margin-left: 20px;
                    margin-top: 10px;
                    color: #000000;
                    width: 200px;
                    font-size: 1.1rem;
                }
            }

            @media (max-width: 1400px) {
                div {
                    width: 300px;

                    input {
                        padding: 0;
                    }
                }
            }

        }

        @media (max-width: 1120px) {
            &__section {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px 0px;
            }
        }

        &__inputs {
            display: flex;

            >div {
                margin-right: 200px;
                flex-grow: 1;

                h3 {
                    font-size: 1.2rem;
                    color: #000000;
                    margin-bottom: 10px;
                }
            }

            @media (max-width: 1550px) {
                >div {
                    margin-right: 100px;
                }
            }

            @media (max-width: 800px) {
                >div {
                    margin: 0 auto;
                }
            }
        }

        @media (max-width: 800px) {
            &__inputs {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    @media (max-width: 800px) {
        .editProfile-form {
            height: 900px;
        }
    }
}