@font-face {
  font-family: "Montserrat-200";
  font-style: normal;
  font-weight: 200;
  src: url(../Assets/Fonts/Montserrat-ExtraLight.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-300";
  font-style: normal;
  font-weight: 300;
  src: url(../Assets/Fonts/Montserrat-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-400";
  font-style: normal;
  font-weight: 400;
  src: url(../Assets/Fonts/Montserrat-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-500";
  font-style: normal;
  font-weight: 500;
  src: url(../Assets/Fonts/Montserrat-Medium.ttf);
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
em,
strong,
blockquote,
cite,
code,
pre,
sub,
sup,
input,
button,
div,
li {
  font-family: "Montserrat-400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.btn:focus,
.btn:active,
.btn:hover,
.btn:visited:focus,
.form-control:focus,
.form-control:active,
.form-control:hover {
  outline: none;
  box-shadow: none;
}

.form-control,
.form-control:focus,
.form-control:active,
.form-control:hover {
  background: none;
}
