* {
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat-200;
    src: url(./../Assets/Fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: Montserrat-300;
    src: url(./../Assets/Fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-400;
    src: url(./../Assets/Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-500;
    src: url(./../Assets/Fonts/Montserrat-Medium.ttf);
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.main-page {
    background-color: #E8EBF2;
}

.btn-blue {
    background-color: #48A0D1;
    color: white;
    box-shadow: 0px 0px 25px rgba(72, 160, 209, 0.5);
    border-radius: 15px;
    display: inline-block;
    padding: 16px 23px;
    font-size: 24px;
}


/* ----------  Navbar  ----------*/


.nav-holder {
    position: relative;
}


.nav-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    height: 8vh;

    div {
        position: relative;

        &::after {
            content: "";
            width: 1px;
            height: 50%;
            background-color: black;
            display: inline-block;
            position: absolute;
            left: 100%;
        }
    }
}


.logo {
    font-size: 36px;
    text-transform: uppercase;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-row__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}


.nav-menu-list {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 12vw;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 8px;
}

.nav-menu__link {
    padding: 8px 12px;
    font-family: Montserrat-300;
    cursor: pointer;
}

.nav-row_singUp {
    padding: 28px;
}

.nav-list__addPet {
    padding: 28px;
}

.nav-row__btn {
    border: 0;
    background: none;
    font-size: 20px;
    margin-left: 20px;
    padding: 28px 0;
    cursor: pointer;

    img {
        margin-left: 5px;
    }
}


/* ----------  About  ----------*/

.about-bg {
    background-image: url(../Assets/Images/Homepage/cat-bg.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 92vh;
    display: flex;
    align-items: center;
}

.about-block {
    font-size: 24px;
    font-weight: 300;
    color: #2E2C34;
    max-width: 50vw;
    padding-left: 56px;
    line-height: 38.4px;

    p {
        margin-bottom: 24px;
    }
}


/* ----------  Our Animals  ----------*/
.animals {
    padding-top: 90px;
    padding-bottom: 54px;
}

.animals-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
}

.cardsAnimals {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardAnimal {
    width: 260px;
    height: 390px;
    background: #48A0D1;
    box-shadow: 0px 0px 30px #48A0D1;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
        height: 100%;
    }

    .animalName {
        position: absolute;
        bottom: 0;
        height: 15%;
        width: 100%;
        background-color: #48A0D1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: white;
        border-radius: 50% 50% 0 0;
    }
}


/* ----------  About Animals  ----------*/

.aboutAnimals {
    padding-top: 31px;
    padding-bottom: 125px;
    width: 90%;
    margin: 0 auto;

    .aboutAnimals-title {
        font-size: 25px;
        text-align: center;
        margin-bottom: 180px;
    }

    .animalArticle-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 180px 70px;

        .animalArticle {
            display: flex;
            align-items: center;
            justify-content: center;

            .animalArticle-circle {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: rgba(72, 209, 168, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
            }

            .animalArticle-info {
                max-width: 510px;

                .animalArticle-text {
                    margin: 0;
                    font-family: Montserrat-300;
                    line-height: 28px;
                    font-size: 20px;
                }

                .animalArticle-title {
                    margin: 0 0 10px 0;
                    font-family: Montserrat-500;
                    font-size: 20px;
                }
            }
        }
    }

}

/* ----------  Footer  ----------*/

.footer {
    margin-top: 240px;
    background-color: #587081;
    padding-right: 154px;
    color: white;
    display: flex;


    .footer-container {
        width: 60%;
        display: flex;
        justify-content: space-between;
        font-size: 15px;

        .footer-logo {
            text-transform: uppercase;
            font-size: 48px;
            display: flex;
            align-items: center;
            padding-left: 60px;
        }

        .footer-tabs {
            padding-top: 50px;

            h3 {
                margin-bottom: 20px;
                font-size: 15px;
            }

            ul {
                li {
                    font-size: 15px;

                    a {
                        color: white;
                    }

                    &:not(:first-child) {
                        margin-top: 10px;
                    }
                }
            }
        }

        .footer-contacts {
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            padding-bottom: 72px;

            h3 {
                font-size: 15px;
            }

            >a {
                &:not(:first-child) {
                    margin-top: 10px;
                }

                font-size: 15px;
                color: white;
            }

            .socials {
                margin-top: 20px;

                a {

                    &:not(:first-child) {
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    .footer-unknown {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        ul {
            list-style: none;

            li {
                font-size: 20px;

                &:not(:first-child) {
                    margin-top: 17px;
                }
            }
        }
    }




}