$primary: #48a0d1;

$spacer: 10px;
$spacers: (
	0: 0,
	1: $spacer * 0.5,
	2: $spacer,
	3: $spacer * 1.5,
	4: $spacer * 2,
	5: $spacer * 2.5,
	6: $spacer * 3,
	7: $spacer * 3.5,
	8: $spacer * 4,
	9: $spacer * 4.5,
	10: $spacer * 5,
);

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.btn-primary {
	box-shadow: 0px 0px 36px rgba(72, 160, 209, 0.5);
	border-radius: 15px;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
