$primary: #48a0d1;
$danger: #e41749;

$spacer: 10px;
$spacers: (
	0: 0,
	1: $spacer * 0.5,
	2: $spacer,
	3: $spacer * 1.5,
	4: $spacer * 2,
	5: $spacer * 2.5,
	6: $spacer * 3,
	7: $spacer * 3.5,
	8: $spacer * 4,
	9: $spacer * 4.5,
	10: $spacer * 5.5,
	11: $spacer * 6,
	12: $spacer * 6.5,
	13: $spacer * 7,
	14: $spacer * 7.5,
	15: $spacer * 8,
	17: $spacer * 8.5,
	18: $spacer * 9,
	19: $spacer * 9.5,
	20: $spacer * 10,
);

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark,
);
