.main-page {
    background-color: #E8EBF2;

    ul {
        margin: 0!important;
    }
    
    a {
        text-decoration: none!important;
        color: black!important;
    }
}

.btn-blue {
    background-color: #48A0D1;
    color: white;
    box-shadow: 0px 0px 25px rgba(72, 160, 209, 0.5);
    border-radius: 15px;
    display: inline-block;
    padding: 16px 23px;
    font-size: 24px;
}




