.registration {
    &__text {
        text-align: center;
        grid-column: 1/3;
    }

    &__form {
        padding: 0 3.125rem;
        margin: 0 auto;
        margin-top: 3.125rem;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 3.125rem;
        column-gap: 7.8125rem;

        &-inputbox {
            width: 18.75rem;
            position: relative;
        }
    }

    &__button {
        grid-column: 1/3;
    }
}

@media (max-width: 992px) {
    .registration {
        width: 43.75rem;
        padding: 1.875rem;

        &__text {
            margin-top: 1.25rem;
        }

        &__form {
            width: 31.25rem;
            column-gap: 4.375rem;

            &-inputbox {
                width: 13.125rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .registration {
        width: 33.75rem;

        &__title {
            font-size: 1.6875rem;
            text-align: center;
        }

        &__text {
            margin-top: 0.3125rem;

            a {
                &:hover {
                    color: #000000;
                    text-decoration: underline;
                }
            }
        }

        &__form {
            margin-top: 2.5rem;
            width: 29.375rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-inputbox {
                width: 28.125rem;
            }
        }
    }
}

@media (max-width: 576px) {
    .registration {
        width: 23.125rem;

        &__text {
            font-size: 0.8125rem;

            a {
                font-size: 0.8125rem;
            }
        }

        &__form {
            padding: 0;
            width: 100%;

            &-inputbox {
                width: 100%;
            }
        }
    }
}

@media (max-width: 500px) {
    .registration {
        width: 18.75rem;
        padding: 1.875rem !important;

        &__button {
            button {
                padding: 0.625rem 1.25rem;
            }
        }
    }
}
