#changePassword {
    .pwd {
        &__container {
            position: relative;
            display: flex;
            flex-direction: column;
            background: rgba(150, 198, 255, 0.26);
            border-radius: 30px;
            padding: 40px 100px 86px 100px;
            margin: auto;
            max-width: 300px;
            width: 100%;
        }
    }
}
