.gallery {
    &-container {
        width: 1500px;
        margin: 0 auto;
    }

    &-page {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 100px;
        width: 100%;
        padding: 80px 0;
    }

    .MuiPagination-ul {
        justify-content: center;
    }

    .cardAnimal__imgCat {
        height: 40%;
    }

}