.tabs {
    &__item {
        position: relative;
        background: none;
    }

    &__button {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 7px;

        border: none;
        background: none;
    }
}
