.tabs {
    &__tabcontainer {
        position: relative;
        width: fit-content;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        .slide {
            background: #000;
            position: absolute;
            height: 1px;
            bottom: -1px;
            transition: left 0.3s ease-out, width 0.3s ease-out;
        }
    }

    &__navigation {
        display: flex;
        gap: 10px 70px;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__content {
        position: relative;
        padding-top: 71px;
    }
}
