.profile__avatar {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#input__file {
    visibility: hidden;
    position: absolute;
    width: inherit;
    left: 0;
    max-width: -webkit-fill-available;
}

.filledInputImage {
    height: 315px;
    width: 305px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.emptyInputImage {
    height: 315px;
    width: 305px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
