.message-error {
  min-height: 67px;
  width: 560px;
  max-width: 100%;
  border-radius: 12px;
  border-top: 16px;
  border-right: 22px;
  border-bottom: 17px;
  border-left: 20px;
  border-style: solid;
  display: flex;
  align-items: center;

  .icon__wrapper {
    height: 34px;
    width: 34px;
    min-width: 34px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.253);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 21px;
      color: #fff;
    }

    p {
      color: #fff;
      font-family: Verdana;
      margin-left: 10px;

      a,
      a:visited,
      a:active {
        color: #fff;
      }
    }
  }

  .close {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
  }
}
