.footer {
    margin-top: 240px;
    background-color: #587081;
    color: white;
    height: 300px;
    position: relative;
    z-index: 0;

    a {
        text-decoration: none;
    }

    .footer-container {
        display: flex;
        flex: 1;
        height: 100%;

        .footer-logo {
            text-transform: uppercase;
            display: flex;
            align-items: center;
            padding: 0px 8vw;

            .footer-logo__text {
                color: white;
                font-size: 3rem;
            }
        }

        .footer-tabs {
            padding: 61px 0px;

            h3 {
                margin-bottom: 20px;
                font-size: .94rem;
                color: white;
            }

            ul {
                li {
                    &::marker {
                        color: white;
                    }

                    a {
                        font-size: .94rem;
                        transition: color 0.3s ease-in-out;

                        &:hover {
                            color: #ffb500 !important;
                        }
                    }

                    &:not(:first-child) {
                        margin-top: 10px;
                    }
                }
            }
        }

        .footer-contacts {
            display: flex;
            flex-direction: column;
            padding: 61px 0px;
            padding-left: 100px;

            h3 {
                font-size: .94rem;
                color: white;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 10px 0px;
                    font-size: .94rem;
                }
            }

            a {
                color: white !important;
                font-size: .94rem;
            }

            .socials {
                margin-top: 20px;

                a {
                    font-size: .94rem;

                    &:not(:first-child) {
                        margin-left: 20px;
                    }
                }

                .facebook {
                    transition: box-shadow 0.3s ease-in-out;
                    border-radius: 100%;

                    &:hover {
                        box-shadow: 0 0 20px 0px #1877f2;
                    }
                }

                .instagram {
                    transition: box-shadow 0.3s ease-in-out;
                    border-radius: 100%;

                    &:hover {
                        box-shadow: 0 0 20px 0px #cb38a5;
                    }
                }
            }
        }

        @media (max-width: 1500px) {
            .footer-contacts {
                padding-left: 50px;
            }
        }
    }

    .footer-image {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
    }
}

